 * {
 margin : 0 ;
 padding : 0;
 box-sizing : border-box;
 }
 body {
 font-family: 'Segoe UI, sans-serif;'
 }
 .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    background-color: black;
    color: #fff;
 }

 @media screen and (min-width: 430px) {
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: black;
    color: #fff;
 }
}